{{ partial "header.html" . }}
{{ $author := index .Site.Author }}

{{ range first 10 .Data.Pages }}

<article class="container post {{ .Section }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ .Summary }} <a class="read-more" href="{{.RelPermalink}}">Read more →</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="{{ .Site.Author.profilepicture }}" alt="Author image" nopin="nopin" />
        {{ $author.name }}

        {{if .Params.tags }}on
            {{ range $index, $tag := .Params.tags }}
                &nbsp;<a href="/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
            {{ end }}
        {{end}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
    </footer>
</article>

{{ end }}
{{ partial "footer.html" . }}
