<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{ if .IsPage }}<link rel="stylesheet" href="/css/github-markdown.css" media="screen" charset="utf-8">{{ end }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{ .Site.Title }}</title>
</head>
<body>

    <div class="main-container">
        {{ if .Params.cover }}
        <header class="site-header" style="background-image: url({{ .Params.cover }})">
        {{ else }}
        <header class="site-header">
        {{ end }}
            <label for="show-menu" class="header-show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#projects-container">Projects</a></li>
                    <li><a href="/#aboutme-container">About Me</a></li>
                    <li><a href="/post">Blog</a></li>
                </ul>
                <ul class="nav-social-icons">
                    <li><a href="{{ .Site.Author.github }}"><i class="fa fa-github"></i></a></li>
                    <li><a href="{{ .Site.Author.steam }}"><i class="fa fa-steam"></i></a></li>
                    <li><a href="{{ .Site.Author.twitter }}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ .Site.Author.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:{{ .Site.Author.mail }}"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </nav>
            {{ if not .Params.cover }}
            <div class="header-feature">
                <img src="{{ .Site.Author.profilePicture }}" />
                <h1 class="feature-heading">{{ .Site.Author.name }}</h1>
                <h2 class="feature-tagline">{{ .Site.Params.tagline }}</h2>
            </div>
            {{ end }}
        </header>

        <main class="content">
