<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Lasse Bjerre | Portfolio</title>
</head>
<body>

    <div class="main-container">
        <header>
            <label for="show-menu" class="header-show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#projects-container">Projects</a></li>
                    <li><a href="#aboutme-container">About Me</a></li>
                    <li><a href="/post">Blog</a></li>
                </ul>
                <ul class="nav-social-icons">
                    <li><a href="https://github.com/Ordspilleren"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://steamcommunity.com/id/lgb/"><i class="fa fa-steam"></i></a></li>
                    <li><a href="https://twitter.com/Ordspilleren"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://dk.linkedin.com/in/lasse-bjerre-93294896"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:lasse@lgb.dk"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </nav>
            <div class="header-feature">
                <img src="/img/profile.jpg" />
                <h2 class="feature-tagline">Lasse Bjerre</h2>
                <h1 class="feature-heading">Portfolio</h1>
            </div>
        </header>
