{{ partial "header.html" . }}

<section id="projects">
    <div class="container">
        <h1>Projects</h1>
        {{ range sort .Site.Data.projects "order" }}
        <article class="project">
            <div class="image">
                <img src="img/{{ .img }}" alt="{{ .title }}" />
            </div>
            <div class="project-info">
                <h2>{{ .title }}</h2>
                <ul class="project-tags">
                {{ range $index, $tag := .tags }}
                    <li>{{ $tag }}</li>
                {{ end }}
                </ul>
                <p>
                    {{ .description }}
                </p>
                <ul class="project-links">
                {{ if .blogPost }}
                    <li><a href="{{ .blogPost }}"><i class="fas fa-rss-square"></i> Blog post</a></li>
                {{ end }}
                {{ if .github }}
                    <li><a href="{{ .github }}"><i class="fab fa-github"></i> Github</a></li>
                {{ end }}
                {{ if .website }}
                    <li><a href="{{ .website }}"><i class="fas fa-link"></i> Website</a></li>
                {{ end }}
                </ul>
            </div>
        </article>
        {{ end }}
    </div>
</section>

<section id="aboutme">
    <div class="container">
        <h1>About Me</h1>
        <div class="aboutme-content">
            <p>
                My name is Lasse, and I am currently studying my masters degree in IT-management at Aalborg University, where I also got my bachelors degree in Information Technology. In addition to my studies, I am currently working as a student worker at Aalborg University's IT department, where I support other employees and students in the use of the IT-systems at the university. For the past 3 years, I have also been doing consultant-related work as part of being a volunteer at a local student organization. This work has consisted of, among other things, developing requirement specifications for new IT-systems, and implementing those systems across the organization.
            </p>
            <p>
                I have been doing problem solving in everything IT related for a big part of my life, and that has given me both the technical knowledge and social skills to help others in this area of work. I see myself as disciplined and stable with a good portion of self-confidence, which is reflected in me being very tolerant and patient. I love technology and everything it brings with it, and I have developed a passion for it like no other over the years. Along with my passion for technology comes my passion to create. Getting an idea and making it come to life is something I value very highly.
            </p>
            <p>
                When I am not working, I engage in new personal projects, movies, gaming and fitness.
            </p>
            <p>
                If the above has your interest, you are welcome to contact me by email at <a href="mailto:{{ .Site.Author.mail }}">{{ .Site.Author.mail }}</a>. I would love to come by for a cup of coffee.
            </p>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
